.modalOverlay {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.404);
    transition: 0.2s ease background-color;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    animation: scale 0.2s ease 0 ;
}

@keyframes scale {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        transform: scale(1.05);
        
    }

    100% {
        opacity: 1;
        transform: scale(1);

    }
}
.modalWrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    outline: none;
    animation: scale 0.2s ease 0s;
}
