.button {
    display: block;
    width: 100%;
    margin: 20px auto 0px auto;
    padding: 15px;
    border-radius: 7px;
    border: 0;
    background-color: #454ADE;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    transition: 0.2s ease background-color;
}

.button:hover {
    background-color: #3c40be;
}

.secondary {
    background-color: #de4572;

}

.secondary:hover {
    background-color: #b93a60;

}